# IDEA
*.iml
.idea/*
!.idea/codeStyleSettings.xml
!.idea/copyright
!.idea/icon.png
!.idea/icon_dark.png

# Gradle
.gradle
build
/reports

# Gradle Android
/local.properties
/captures

# OSX
.DS_Store

signing/release.keystore
signing/play.json
enc.properties